<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.com.younite.mapper.FriendMapper">
    <resultMap id="FriendEntityMap" type="tw.com.younite.entity.FriendEntity">
        <id column="id" property="id"></id>
        <result column="user_id_1" property="firstUserID"></result>
        <result column="user_id_2" property="secondUserID"></result>
        <result column="is_matched" property="isMatched"></result>
        <result column="is_chat_enabled" property="isChatEnabled"></result>
        <result column="is_voice_chat_enabled" property="isVoiceChatEnabled"></result>
        <result column="is_image_enabled" property="isImageEnabled"></result>
        <result column="invitation_sent" property="isInvitationSent"></result>
        <result column="invitation_accepted" property="isInvitationAccepted"></result>
        <result column="created_at" property="createAt"></result>
    </resultMap>

    <insert id="insertFriend"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO MESSAGES
            (user_id_1, user_id_2, is_matched)
        VALUES (#{firstUserID}, #{secondUserID}, #{isMatched})
    </insert>

    <update id="setInvitationSent">
        UPDATE `MESSAGES`
        SET `invitation_sent` = #{isInvitationSent}
        WHERE `user_id_1` = #{firstUserID}
        AND `user_id_2` = #{secondUserID}
    </update>

    <select id="getFriend" resultMap="FriendEntityMap" >
        SELECT *
        FROM  `MESSAGES`
        WHERE `user_id_1` =  #{firstUserID}
    </select>

    <select id="getSpecificFriend" resultMap="FriendEntityMap" >
        SELECT *
        FROM  `MESSAGES`
        WHERE (`user_id_1` =  #{firstUserID}
        AND `user_id_2` = #{secondUserID})
    </select>
</mapper>