<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.com.younite.mapper.FriendMapper">
    <cache-ref namespace="tw.com.younite.mapper.UserMapper"/>
    <resultMap id="FriendEntityMap" type="tw.com.younite.entity.FriendEntity">
        <id column="id" property="id"></id>
        <result column="user_id_1" property="firstUserID"></result>
        <result column="user_id_2" property="secondUserID"></result>
        <result column="is_matched" property="isMatched"></result>
        <result column="is_videochat_enabled" property="isVideoChatEnabled"></result>
        <result column="is_voice_chat_enabled" property="isVoiceChatEnabled"></result>
        <result column="is_image_enabled" property="isImageEnabled"></result>
        <result column="invitation_sent" property="isInvitationSent"></result>
        <result column="invitation_accepted" property="isInvitationAccepted"></result>
        <result column="created_at" property="createAt"></result>
        <result column="invitation_status" property="invitationStatus"></result>
    </resultMap>

    <insert id="insertFriend"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO messages
            (user_id_1, user_id_2, is_matched)
        VALUES (#{firstUserID}, #{secondUserID}, #{isMatched})
    </insert>

    <update id="setInvitationSent">
        UPDATE `messages`
        SET `invitation_sent` = #{isVideoChatEnabled}
        WHERE `user_id_1` = #{firstUserID}
        AND `user_id_2` = #{secondUserID}
    </update>

    <update id="setVideoChatStatus">
        UPDATE `messages`
        SET `is_videochat_enabled` = #{isVideoChatEnabled}
        WHERE `user_id_1` = #{firstUserID}
        AND `user_id_2` = #{secondUserID}
    </update>

    <update id="setVoiceChatStatus">
        UPDATE `messages`
        SET `is_voice_chat_enabled` = #{isVoiceChatEnabled}
        WHERE `user_id_1` = #{firstUserID}
        AND `user_id_2` = #{secondUserID}
    </update>

    <update id="setImageStatus">
        UPDATE `messages`
        SET `is_image_enabled` = #{isImageEnabled}
        WHERE `user_id_1` = #{firstUserID}
          AND `user_id_2` = #{secondUserID}
    </update>

    <update id="setInvitationAccept">
        UPDATE `messages`
        SET `invitation_accepted` = #{isInvitationAccepted}
        WHERE `user_id_1` = #{firstUserID}
        AND `user_id_2` = #{secondUserID}
    </update>

    <update id="setInvitationStatus">
        UPDATE `messages`
        SET `invitation_status` = `invitation_status` | #{invitationStatus}
        WHERE `user_id_1` = #{firstUserID}
        AND `user_id_2` = #{secondUserID}
    </update>

    <select id="getFriend" resultMap="FriendEntityMap" >
        SELECT *
        FROM  `messages`
        WHERE `user_id_1` =  #{firstUserID}
    </select>

    <select id="getSpecificFriend" resultMap="FriendEntityMap" >
        SELECT *
        FROM  `messages`
        WHERE (`user_id_1` =  #{firstUserID}
        AND `user_id_2` = #{secondUserID})
    </select>

    <select id="getInvitationStatus" resultMap="FriendEntityMap" >
        SELECT *
        FROM `messages`
        WHERE (`user_id_1` = #{firstUserID}
            AND `user_id_2` = #{secondUserID})
          AND (`invitation_status` &amp; #{invitationStatus})
            = #{invitationStatus}
    </select>
    <update id="updateVideoSent">
        UPDATE `messages`
        SET `video_sent` = TRUE
        WHERE `user_id_1` = #{firstUserID}
          AND `user_id_2` = #{secondUserID}
    </update>

    <update id="updateVideoAccepted">
        UPDATE `messages`
        SET `video_accepted` = TRUE
        WHERE `user_id_1` = #{firstUserID}
          AND `user_id_2` = #{secondUserID}
    </update>

    <update id="updateVoiceSent">
        UPDATE `messages`
        SET `voice_sent` = TRUE
        WHERE `user_id_1` = #{firstUserID}
          AND `user_id_2` = #{secondUserID}
    </update>

    <update id="updateVoiceAccepted">
        UPDATE `messages`
        SET `voice_accepted` = TRUE
        WHERE `user_id_1` = #{firstUserID}
          AND `user_id_2` = #{secondUserID}
    </update>

    <update id="updateImageSent">
        UPDATE `messages`
        SET `image_sent` = TRUE
        WHERE `user_id_1` = #{firstUserID}
          AND `user_id_2` = #{secondUserID}
    </update>

    <update id="updateImageAccepted">
        UPDATE `messages`
        SET `image_accepted` = TRUE
        WHERE `user_id_1` = #{firstUserID}
          AND `user_id_2` = #{secondUserID}
    </update>


</mapper>