<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.com.younite.mapper.UserMapper">
    <resultMap id="UserEntityMap" type="tw.com.younite.entity.User">
        <id column="id" property="id"></id>
        <result column="created_at" property="createdAt"></result>
        <result column="modified_at" property="modifiedAt"></result>
        <result column="third_party_login" property="thirdPartyLogin"></result>
        <result column="facebook_user" property="facebookUser"></result>
        <result column="google_user" property="googleUser"></result>
    </resultMap>
    <resultMap id="UserProfileEntityMap" type="tw.com.younite.entity.UserProfile">
        <id column="profile_id" property="profileId"></id>
        <result column="user_id" property="userId"></result>
        <result column="full_name" property="fullName"></result>
        <result column="profile_avatar" property="profileAvatar"></result>
        <result column="sexual_orientation" property="sexualOrientation"></result>
        <result column="preferred_gender" property="preferredGender"></result>
        <result column="dating_goal" property="datingGoal"></result>
        <result column="self_intro" property="selfIntro"></result>
        <result column="blocked_id" property="blockId"></result>
        <result column="voice_intro" property="voiceIntro"></result>
    </resultMap>
    <select id="getByUsername" resultMap="UserEntityMap">
        SELECT *
        FROM `users`
        WHERE username = #{username}
    </select>

    <select id="getByUserEmail" resultMap="UserEntityMap">
        SELECT *
        FROM `users`
        WHERE email = #{email}
    </select>

    <select id="getByUserPhone" resultMap="UserEntityMap">
        SELECT *
        FROM `users`
        WHERE phone = #{phone}
    </select>

    <select id="getByFullName" resultMap="UserEntityMap">
        SELECT *
        FROM `profiles`
        WHERE `full_name` = #{fullName}
    </select>

    <select id="getUserByID" resultMap="UserEntityMap">
        SELECT *
        FROM `USERS`
        WHERE `id` = #{id}
    </select>

    <select id="getProfileByID" resultMap="UserProfileEntityMap">
        SELECT *
        FROM `PROFILES`
        WHERE `user_id` = #{userId}
    </select>

    <insert
            id="register"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USERS
        (`id`, `username`, `email`, `phone`, `password`,
         `third_party_login`, `facebook_user`, `google_user`,
         `vip_expiry`, `created_at`, `modified_at`, `salt`)
        VALUES (#{id}, #{username}, #{email}, #{phone}, #{password}, #{thirdPartyLogin}, #{facebookUser}, #{googleUser},
                #{vipExpiry}, #{createdAt}, #{modifiedAt}, #{salt})
    </insert>

    <insert
            id="registerByOAuth"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USERS
        (`id`, `username`, `password`, `phone`, `email`, `third_party_login`, `facebook_user`, `google_user`,
         `vip_expiry`, `created_at`, `modified_at`)
        VALUES (#{id}, #{username}, #{password}, #{phone}, #{email}, #{thirdPartyLogin}, #{facebookUser}, #{googleUser},
                #{vipExpiry}, #{createdAt}, #{modifiedAt})
    </insert>


    <insert
            id="insertProfile"
            useGeneratedKeys="true" keyProperty="profileId">
        INSERT INTO PROFILES
        (`profile_id`, `user_id`, `full_name`, `profile_pic`,
         `gender`, `sexual_orientation`, `preferred_gender`,
         `dating_goal`, `self_intro`, `location`, `blocked_id`,`profile_avatar`, `birthday`, `voice_intro`)
        VALUES (#{profileId}, #{id}, #{fullName},
                #{profilePic}, #{gender}, #{sexualOrientation},
                #{preferredGender}, #{datingGoal}, #{selfIntro},
                #{location}, #{blockId}, #{profileAvatar}, #{birthday}, #{voiceIntro})
    </insert>

    <update id="updatePasswordByID">
        UPDATE `USERS`
        SET
            password = #{password},
            modified_at = #{modifiedAt}
        WHERE `id` = ${id}
    </update>

    <update id="updateUserProfileByID">
        UPDATE `PROFILES`
        SET
            `full_name` = #{fullName},
            `birthday` = #{birthday},
            `gender` = #{gender},
            `sexual_orientation` = #{sexualOrientation},
            `dating_goal` = #{datingGoal},
            `location` = #{location},
            `self_intro` = #{selfIntro},
            `preferred_gender` = #{preferredGender},
            `profile_avatar` = #{profileAvatar},
            `voice_intro` = #{voiceIntro}
        WHERE `user_id` = ${userId}
    </update>


</mapper>