<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.com.younite.mapper.UserLikeMapper">
    <resultMap id="UserLikeEntityMap" type="tw.com.younite.entity.UserLikeEntity">
        <id column="id" property="id"></id>
        <result column="liked_user_id" property="likedUserId"></result>
        <result column="user_id" property="userID"></result>
        <result column="created_at" property="likedAt"></result>
    </resultMap>

    <insert
            id="insertLike"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO LIKES
            (`user_id`, `liked_user_id`, `created_at`)
        VALUES (#{userID}, #{likedUserId}, #{likedAt})
    </insert>

    <select
            id="getLikedUsers"
            resultMap="UserLikeEntityMap" >
        SELECT *
            FROM LIKES
        WHERE `user_id` = #{userID}
    </select>

</mapper>