@import 'bootstrap/scss/functions';
@import 'bootstrap/dist/css/bootstrap.min.css';

@import './_variables';

@import 'bootstrap/scss/bootstrap';

@import './_utilities';

/* Google Noto字體引入 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', 'Inter', 'Poppins', 'sans-serif';
}

img {
  max-width: 100%;
}
