* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", "Inter", "Poppins";
}

/*# sourceMappingURL=date.css.map */

.overlay {
  background-image: url("./img/landingPage.png");
  background-size: 100vw 800px;
}

.logo {
  color: #fff;
  margin: 12px 0 0 12px;
  width: stretch;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.buttonArea {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 50%;
  .registerBtn {
    font-size: 38px;
    line-height: 46px;
    width: 204px;
    height: 62px;
    margin-right: 6px;
    background-color: transparent;
    color: #fff;
    border: 5px solid #fa6b6b;
  }

  .registerBtn:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 5px solid #fa6b6b;
    color: #fa6b6b;
  }

  .loginBtn {
    font-size: 38px;
    line-height: 46px;
    width: 204px;
    height: 62px;
    margin-left: 6px;
    background-color: #fa6b6b;
  }

  .loginBtn:hover {
    background-color: rgb(255, 134, 134);
  }
}

//login css
.loginBody {
  overflow: hidden;
  background-image: none;
}

.loginMain {
  width: 100%;
  background-image: none;
  background-color: #fff;
  display: flex;
  flex-direction: row;

  .imageArea {
    width: 720px;
    height: 100vh;
    display: flex;
    z-index: 99;
    .loginImage {
      width: 720px;
      height: 100vh;
    }
  }

  .loginFormArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    overflow: hidden;

    .bgGradient {
      display: flex;
      position: absolute;
      bottom: -30%;
      left: 40%;
    }

    .bgGradient2 {
      display: flex;
      position: absolute;
      top: -50%;
      left: 80%;
    }

    .loginForm {
      width: 560px;
      height: 92%;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(100px);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-weight: 500;
      }

      .loginFormContent {
        position: relative;
        background-color: #f4f3fd;
        width: 400px;
        padding: 40px;
        border-radius: 12px;
        justify-content: center;
        align-items: center;
        p {
          color: #c41717;
          font-size: 10px;
          position: absolute;
          right: 0px;
        }
        .ant-form-item {
          width: 400px;
          margin: 8px;
        }
        .orDivider {
          position: relative;
          width: 400px;
          p {
            position: absolute;
            left: 48%;
            color: #000;
          }
        }
      }
    }
  }
}
