.homepage {
  padding-top: 0.25rem;
  padding-left: 200px;
  height: 100%;
  background-image: url("../pages/imgpages/bgc.png"),
    url("../pages/imgpages/bgc.png");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(100% - 500px) calc(100% - 400px),
    calc(100% + 300px) calc(100% + 250px);

  .homePageMain {
    width: 90%;
    margin: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(100px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    .homePageTitle {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .FilterBtn {
        background-color: #fa6b6b;
      }
    }
    .homePagePhoto {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .homePageMore {
      display: flex;
      justify-content: end;
      a {
        text-decoration: none;
        color: #fa6b6b;
        font-weight: bolder;
      }
    }
  }
  .homPageBottom {
    display: flex;
    flex-direction: row;
    .homePageBottomCard {
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(100px);
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      width: 90%;
      margin: 2rem;
      padding: 2rem;
    }
  }
}
