body {
    background-image: url("../assets/images/landingPage.png");
    background-size: 100vw 800px;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}