nav {
  height: 100vh;
  overflow-y: auto;
}

.fa-layers.fa-fw {
  position: relative;
}

.badge {
  font-size: 12px;
  position: absolute;
  top: -0.25rem;
  left: 0.75rem;
  border-radius: 100%;
  padding: 0.2rem 0.35rem;
}

.nav-bottom i {
  color: #c3c3c3;
}

.nav-text {
  font-size: 12px;
}

.container-fluid {
  position: relative;
}

h1 {
  padding-left: 100px;
}
