@charset "UTF-8";
/* Chatlist.js */
.sideNav {
  background-color: #f4f3fd;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.siderBarUser {
  width: 108px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
}

.siderBarUser > svg {
  height: 80px;
  width: 80px;
  color: #c3c3c3;
  padding-bottom: 8px;
}

h5 {
  font-size: 16px;
}

.siderBarIcon {
  width: 31px;
  /* height: 643.86px; */
  padding-top: 40px;
}

.siderBarIcon1 {
  display: flex;
  flex-direction: column;
  padding: 0 0 136px 0;
  /* padding-bottom: ; */
}

.siderBarIcon2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.siderBarIcon1 > svg {
  padding: 12px 0 12px 0;
  height: 24px;
  width: 24px;
}

.siderBarIcon2 > svg {
  padding: 12px 0 12px 0;
  height: 24px;
  width: 24px;
  color: #c3c3c3;
}

/* Charlist.js */
.chatList {
  width: 426px;
  height: 100vh;
  background: #f4f3fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
}

.chatList > h3 {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  padding-top: 14px;
}

.chatList > p {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #888888;
  padding-top: 4px;
}

.searchWrapper {
  position: relative;
  padding-top: 4px;
}

.searchWrapper > input {
  width: 380px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: rgba(201, 194, 239, 0.2);
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888888;
  width: 16px;
  height: 16px;
}

/* Charbox.js */
.boxStyle {
  width: 380px;
  height: 128px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 12px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.08));
}

.boxStyle > .ant-row {
  padding: 20px 0 20px 0;
}

.boxStyle > .ant-row > .ant-col {
  padding: 0 10px 0 10px;
}

.boxFont > h3 {
  font-family: "Noto Sans TC";
  font-size: 24px;
}

.boxFont > p {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #b3b3b3;
}

.boxStyle > .ant-row > .ant-col > p {
  padding-left: 136px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #b3b3b3;
}

.boxStyle > p {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 20px;
}

/* Chatroom.js */
.chatRoom {
  width: 893px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 626px; /* 考虑到侧边栏的宽度 */
  width: calc(100% - 626px); /* 考虑到侧边栏的宽度 */
  height: 100vh;
  overflow-y: auto; /* 添加垂直滚动条 */
}
.chatRoom .ant-avatar-group {
  /* 樣式屬性 */
  padding: 27px 760px 0 29px;
}
.chatRoom .chatIconGroup {
  display: flex;
  position: absolute;
  top: 32px;
  right: 56px;
}
.chatRoom .chatIconGroup .chatIcon {
  width: 24px;
  height: 24px;
  padding-left: 32px;
}
.chatRoom .typeBox {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 626px; /* 考虑到侧边栏的宽度 */
  width: calc(100% - 626px); /* 考虑到侧边栏的宽度 */
  height: 100vh;
  overflow-y: auto; /* 添加垂直滚动条 */
}
.chatRoom .typeBox .ant-avatar-group {
  /* 樣式屬性 */
  padding: 27px 760px 0 29px;
}
.chatRoom .typeBox .chatIconGroup {
  display: flex;
  position: absolute;
  top: 32px;
  right: 56px;
}
.chatRoom .typeBox .chatIconGroup .chatIcon {
  width: 24px;
  height: 24px;
  padding-left: 32px;
}
.chatRoom .typeBox .typeBox {
  width: 800px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  margin-bottom: 24px;
}
.chatRoom .typeBox .typeBox .typeBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chatRoom .typeBox .typeBox .typeBar .svg {
  margin-right: 10px;
  color: #d2cfd4;
  width: 24px;
  height: 24px;
}
.chatRoom .typeBox .typeBox .typeBar .input {
  width: 744px;
  height: 48px;
  background: #f3f1fc;
  border: none;
  border-radius: 24px;
}

/* // Info.js */
.myForm .formItem {
  display: flex;
  align-items: center;
}
.myForm .formItem .ant-form-item {
  flex: none;
  margin: 8px;
}
.myForm .textArea {
  width: 400px;
  /* // margin-left: 10px; */
  border-radius: 5px;
}

/* // Dategoal.js */
.modal {
  text-align: center;
}
.modal .button {
  width: 120px;
  height: 160px;
}/*# sourceMappingURL=Nav.css.map */