// Personalinfo.js
.peInfo {
  background-color: #f4f3fd;
  h1 {
    text-align: center;
    padding: 48px 0 40px 0;
  }
  .from {
    display: flex;
    justify-content: center;
    h3 {
      padding-bottom: 20px;
    }
  }
}
