.usersImg {
  position: relative;
  z-index: 999;
  display: flex;
  // align-items: center;
  // justify-content: center;
  height: 37vh;
  width: 188px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px;
  background-image: var(--bg-images);
  background-position: center;
  background-size: cover;
  background-color: white;
  // text-align: center;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: -1;
  }

  span {
    font-size: 14px;
  }

  .btn {
    font-size: 12px;
  }

}
