.userImg {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  z-index: 999;
  display: flex;
  position: fixed;
  background-color: white;
  height: 70vh;
  width: 25vw;
  // padding: 2rem;
  /* margin: 2rem 5rem; */
  justify-content: center;
  // align-items: center;
  // justify-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
  min-height: 400px;
  min-width: 300px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(15, 14, 14, 0.4); /* 背景颜色，根据需要调整透明度 */
    z-index: -1; /* 将叠加层置于底部 */
  }

  h4 {
    margin-top: 10rem;
  }

  .button1 {
    border: 1.75px solid lightgray;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    width: 50px;
    height: 50px;
  }

  .button2 {
    border: none;
    border-radius: 50%;
    background: #ff451c;
    padding: 0;
    width: 50px;
    height: 50px;
  }

  .button1 i,
  .button2 i {
    font-size: 24px;
  }
}
