.filter-modal-bg {
  z-index: 999;
  position: fixed;
  background-color: white;
  max-width: 400px;
  min-height: 400px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  border-radius: 10px;

  .btn-close {
    border: none;
  }
}
