.bg-page {
  padding: 3rem 5rem;
  max-height: 100vh;

  background-image: url('../../assets/images/bgc.png'), url('../../assets/images/bgc.png');
  background-repeat: no-repeat, no-repeat;
  background-position: calc(100% - 900px) calc(100% - 400px), calc(100% + 300px) calc(100% + 250px);

  .bg-pageMain {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    .bg-pageTitle {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .FilterBtn {
        background-color: #fa6b6b;
      }
    }
    .bg-pagePhoto {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .bg-pageMore {
      display: flex;
      // justify-content: end;
    }
  }
}

.bg-page .bg-pageMain .bg-page .bg-pageMain .bg-page .bg-pageMain .bg-pageMore a {
  text-decoration: none;
  color: #fa6b6b;
  font-weight: bolder;
}
.bg-page .homPageBottom {
  display: flex;
  flex-direction: row;
}
.bg-page .homPageBottom .bg-pageBottomCard {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 90%;
  margin: 2rem;
  padding: 2rem;
}
